html {
	--base-font-size: 16px;
}

body {
    --bg-color: #E5E5E5;
    --bg-content-color: #fff;
    --bg-secondary-content-color: #FAFAFA;
    --bg-search-color: #DBDBDB;
    --bg-add-color: rgba(196, 196, 196, 0.09);

    --prime-color: #000;
    --secondary-color: #AEAEAE;
    --third-color: #787878;
    --add-note-color: #A8A8A8;
    --svg-color: #5DC2AF;
    --search-svg-color: #676767;
    --caption-color: #5E5E5E;

    --border-color: #C6C6C6;
}

$space: 1rem;
$space-1-4: calc(#{$space} * 0.25);
$space-1-3: calc(#{$space} * 0.33);
$space-1-2: calc(#{$space} * 0.5);
$space-2-3: calc(#{$space} * 0.66);

$padding: calc(#{$space} * 1.375);

$checkbox-size: 1.875rem;
$svg-size: .875rem;

$max-content-width: 37.5rem;
$radius: .75rem;
$border: 1px solid var(--border-color);